body {

    background-image: url("https://i.ytimg.com/vi/dCfO59qo2lM/maxresdefault.jpg");
}

h1 {
    color:gold;
    text-align: center;
}

p {
    font-family: comic;
    font-size: 20px;
    color: Black;
}
